.col-sm-12{
	height: 60px;
	color: white;
	text-align: center;
	text  

}


.col-sm-2{
	height: 680px;

}

.btn-group-vertical{
	background-color: white;
}

button{
	background-color: white;

}

.menu{
	padding-top: 20px;
	

}


.btn-group{
	padding-left: 120px;
}


.center-block{
  display: block; 
  margin-left: auto;
  margin-right: auto;

}


.botaoadd{
	margin-left: 90px;
}




